<launch>

  <include file="$(find jackal_gazebo)/launch/jackal_world.launch" />

  <include file="$(find apriltag_ros)/launch/continuous_detection.launch" />

  <include file="$(find jackal_navigation)/launch/amcl_demo.launch" />

  <node name="tag_tracker" pkg="tag_tracker" type="tag_tracker.py" />

  <node name="show_path" pkg="tag_tracker" type="show_path.py" />

</launch>